@{
  Layout = "_Layout";
}

<h1>Order Details: </h1>

<h2>@Model["order"].Title</h2>
<ul>
  <li>Description: @Model["order"].Description</li>
  <li>Price: @Model["order"].Price</li>
  <li>Order Date: @Model["order"].OrderDate.Date.ToString("d")</li>
</ul>
<h3>Vendor: @Model["vendor"].Name</h3>

<br><hr>
<button type="button" class="btn btn-success" onclick="window.location.href = '/vendors/@Model["vendor"].Id'">Back</button>
<button type="button" class="btn btn-primary" onclick="window.location.href = '/vendors/@Model["vendor"].Id/orders/new'">Add A New Order</button>
<button type="button" class="btn btn-info" onclick="window.location.href = '/vendors'">View All Vendors</button>
